#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp TAB    &kp COMMA  &kp DOT   &kp P   &kp Y   &kp F                         &kp G      &kp C   &kp R   &kp L     &kp BSLH  &kp BSPC
&kp CAPS   &kp A      &kp O     &kp E   &kp U   &kp I                         &kp D      &kp H   &kp T   &kp N     &kp S     &kp ENTER
&kp LSHFT  &kp Q      &kp J     &kp K   &kp X   &kp B      &kp C_MUTE  &kp M  &kp M      &kp W   &kp V   &kp Z     &kp UP    &kp FSLH
&kp LCTRL  &kp LALT   &kp LGUI  &trans  &trans  &kp SPACE                     &kp SPACE  &trans  &trans  &kp LEFT  &kp DOWN  &kp RIGHT
            >;
        };
    };
};
